/* Created by Rob de Wit 2022, last updated 2023 */
/* Feel free to use this CSS under the Creative Commons Attribution-ShareAlike 4.0 International License. */

body {
	font-family: 'Atkinson Hyperlegible', sans-serif;
	color: #eee;
	background-color:#111;
	margin: auto;
	line-height: 1.25rem;
}

a {
	color: rgb(12, 125, 255);
}

.container {
	max-width: 500px;
	margin-top: 3rem;
	margin: 2rem;
}

img.logo {
	max-width: 300px;
	margin-bottom: 1rem;
}

div.about {
	margin-bottom: 1.5rem;
}

div.contact-details span{
	display: block;
}

div.contact-details span.header{
	font-weight: bold;
}

div.contact-details .contact-section {
	margin-bottom: 1.25rem;
}

div.terms-and-conditions {
	font-size: 0.8rem;
	font-style: italic;
}
